{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<form action="/new" method="GET">
<input type="submit" value="Lisää asunto">
</form>

{% if "admin" in session.username %}
<br>
<a href="/delete">Poista asuntoja</a><br />
{% else %}
<br>
<a href="/appandfav">Haetut ja suosikit</a><br />
{% endif %}
<br>
<a href="/logout">Kirjaudu ulos</a><br />
<br>
<br>
<p>Vapaahaku:</p>
<form action="/result" method="GET">
Kaupunki: <input type="text" name="query">
<br>
<p>

<!-- Huonemäärän rajaus -->
1h <input type="checkbox" name="roomcount" value="1">
2h <input type="checkbox" name="roomcount" value="2">
3h <input type="checkbox" name="roomcount" value="3">
4h <input type="checkbox" name="roomcount" value="4">
5h <input type="checkbox" name="roomcount" value="5">
<!-- Huonemäärän rajaus -->

<!-- Pinta-alan rajaus -->
Pinta-ala: min. <input type="text" name="min_area" style="width: 50px;">
max. <input type="text" name="max_area" style="width: 50px;">
<!-- Pinta-alan rajaus -->
</p>
<p>
<!-- Rakennustyypin rajaus -->
Rakennustyyppi: Kerrostalo <input type="checkbox" name="buildingtype" value="Kerrostalo">
Omakotitalo <input type="checkbox" name="buildingtype" value="Omakotitalo">
Rivitalo <input type="checkbox" name="buildingtype" value="Rivitalo">
Luhtitalo <input type="checkbox" name="buildingtype" value="Luhtitalo">
<!-- Rakennustyypin rajaus -->
</p>
<p>
<!-- Kunnon rajaus -->
Kunto: Erinomainen <input type="checkbox" name="condition" value="Erinomainen">
Hyvä <input type="checkbox" name="condition" value="Hyvä">
Kohtalainen <input type="checkbox" name="condition" value="Kohtalainen">
Huono <input type="checkbox" name="condition" value="Huono">
<!-- Kunnon rajaus -->
</p>
<input type="submit" value="Lähetä">
</form>
<hr>
Järjestä asunnot:
<p>
<form action="/order" method="POST">
Vuokra: halvin ensin <input type="radio" name="order" value="cheap">
Vuokra: kallein ensin <input type="radio" name="order" value="expensive">
Pinta-ala: pienin ensin <input type="radio" name="order" value="small">
Pinta-ala: suurin ensin <input type="radio" name="order" value="big">
</p>
<input type="submit" value="Järjestä">
<hr>
</form>

{% if "admin" not in session.username %}

<p>Vuokrattavat asunnot:</p>

<form action="/add_applied_or_fave" method="POST">
Asuntojen määrä: {{ count }}
<p><input type="submit" value="Hae valittuihin / Lisää valitut suosikkeihin"></p>
{% for apartment in apartments %}
<p>{{ apartment.area }}m², {{ apartment.rooms }}h,
{{ apartment.building }}, {{ apartment.location }}, {{ apartment.rent }}€, Kunto: {{ apartment.condition }},
"{{ apartment.descr }}" </p>

Hae kohdetta <input type="checkbox" name="apply" value="{{ apartment.id }}">
Lisää suosikkeihin <input type="checkbox" name="fave" value="{{ apartment.id }}">

<hr>
{% endfor %}
</form>
{% else %}

<p>Vuokrattavat asunnot:</p>

Asuntojen määrä: {{ count }}
<hr>
{% for apartment in apartments %}
<p>{{ apartment.area }}m², {{ apartment.rooms }}h,
{{ apartment.building }}, {{ apartment.location }}, {{ apartment.rent }}€, Kunto: {{ apartment.condition }},
"{{ apartment.descr }}" </p>
<hr>

{% endfor %}
{% endif %}



{% else %}

{% if no_user %}
Virheellinen käyttäjätunnus tai salasana!
{% endif %}
<br>
<br>
<p>VUOKRA-ASUNNOT</p>
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<form action="/register" method="POST">
<input type="submit" value="Rekisteröidy">
</form>
{% endif %}