<!DOCTYPE html>
<link rel="stylesheet" href="/static/first.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<div class="header">
  <h1>VUOKRA-ASUNNOT</h1>
</div>

<hr>

<div class="content">
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<form action="/new" method="GET">
<input type="submit" value="Lisää asunto">
</form>
<br>

{% if "admin" in session.username %}
Ylläpitäjät:
<div style="height:120px;width:120px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
{% for admin in admins %}
{{ admin.username }}
<br>
{% endfor %}
</div>

<br>
<a href="/delete">Poista asuntoja</a><br />
{% else %}
<br>
<a href="/appandfav">Haetut ja suosikit</a><br />
{% endif %}
<br>
<a href="/logout">Kirjaudu ulos</a><br />
<br>
<br>
<h3>Vapaahaku:</h3>
<form action="/result" method="GET">
Sijainti: <input type="text" name="query">
<br>
<p>

<!-- Huonemäärän rajaus -->
1h <input type="checkbox" name="roomcount" value="1">
2h <input type="checkbox" name="roomcount" value="2">
3h <input type="checkbox" name="roomcount" value="3">
4h <input type="checkbox" name="roomcount" value="4">
5h <input type="checkbox" name="roomcount" value="5">
<!-- Huonemäärän rajaus -->

<!-- Pinta-alan rajaus -->
Pinta-ala: min. <input type="text" name="min_area" style="width: 50px;">
max. <input type="text" name="max_area" style="width: 50px;">
<!-- Pinta-alan rajaus -->
</p>
<p>
<!-- Rakennustyypin rajaus -->
Rakennustyyppi: Kerrostalo <input type="checkbox" name="buildingtype" value="Kerrostalo">
Omakotitalo <input type="checkbox" name="buildingtype" value="Omakotitalo">
Rivitalo <input type="checkbox" name="buildingtype" value="Rivitalo">
Luhtitalo <input type="checkbox" name="buildingtype" value="Luhtitalo">
<!-- Rakennustyypin rajaus -->
</p>
<p>
<!-- Kunnon rajaus -->
Kunto: Erinomainen <input type="checkbox" name="condition" value="Erinomainen">
Hyvä <input type="checkbox" name="condition" value="Hyvä">
Kohtalainen <input type="checkbox" name="condition" value="Kohtalainen">
Huono <input type="checkbox" name="condition" value="Huono">
<!-- Kunnon rajaus -->
</p>
<input type="submit" value="Lähetä">
</form>
<hr>
  <h3>Järjestä asunnot:</h3>
<p>
<form action="/order" method="POST">
Vuokra: halvin ensin <input type="radio" name="order" value="cheap">
Vuokra: kallein ensin <input type="radio" name="order" value="expensive">
Pinta-ala: pienin ensin <input type="radio" name="order" value="small">
Pinta-ala: suurin ensin <input type="radio" name="order" value="big">
</p>
<input type="submit" value="Järjestä">
<hr>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% if "admin" not in session.username %}

  <h3>Suosituin asunto:</h3>
  {% for apartment in top_apartments %}
  <p>{{ apartment.area }}m², {{ apartment.rooms }}h,
{{ apartment.building }}, {{ apartment.location }}, {{ apartment.rent }}€, Kunto: {{ apartment.condition }},
"{{ apartment.descr }}"</p>

  Hae kohdetta <input type="checkbox" name="apply" value="{{ apartment.id }}">
  Lisää suosikkeihin <input type="checkbox" name="fave" value="{{ apartment.id }}">
  <hr>
  {% endfor %}

<h3>Vuokrattavat asunnot:</h3>

<form action="/add_applied_or_fave" method="POST">
Asuntojen määrä: {{ count }}
<p><input type="submit" value="Hae valittuihin / Lisää valitut suosikkeihin"></p>
{% for apartment in apartments %}
<p>{{ apartment.area }}m², {{ apartment.rooms }}h,
{{ apartment.building }}, {{ apartment.location }}, {{ apartment.rent }}€, Kunto: {{ apartment.condition }},
"{{ apartment.descr }}" </p>

Hae kohdetta <input type="checkbox" name="apply" value="{{ apartment.id }}">
Lisää suosikkeihin <input type="checkbox" name="fave" value="{{ apartment.id }}">

<hr>
{% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}

<p>Vuokrattavat asunnot:</p>

Asuntojen määrä: {{ count }}
<hr>
{% for apartment in apartments %}
<p>{{ apartment.area }}m², {{ apartment.rooms }}h,
{{ apartment.building }}, {{ apartment.location }}, {{ apartment.rent }}€, Kunto: {{ apartment.condition }},
"{{ apartment.descr }}" </p>
<hr>

{% endfor %}
</div>
</body>

{% endif %}

{% else %}

{% if no_user %}
Virheellinen käyttäjätunnus tai salasana!
{% endif %}
<br>
<body>
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<br>
<form action="/register" method="POST">
<input type="submit" value="Rekisteröidy">
</form>
</body>
{% endif %}