<!DOCTYPE html>
<link rel="stylesheet" href="/static/first.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<div class="header">
  <h1>VUOKRA-ASUNNOT</h1>
</div>
<hr>

<div class="content">
LISÄÄ ASUNTO
  {% if area_too_small %}
  <h4>Neliömäärän oltava yli 0m²!</h4>
  {% endif %}
  {% if rent_too_small %}
  <h4>Vuokran oltava 0€ tai suurempi!</h4>
  {% endif %}
  {% if no_location %}
  <h4>Lisää kaupunki!</h4>
  {% endif %}
  {% if fill_all %}
  <h4>Valitse jotakin kaikista kohdista!</h4>
  {% endif %}
<form action="/add" method="POST">
<p>
Sijainti: <input type="text" name="location">
</p>
<p>
Huonemäärä:
<!-- Huonemäärän rajaus -->
1h <input type="radio" name="roomcount" value="1">
2h <input type="radio" name="roomcount" value="2">
3h <input type="radio" name="roomcount" value="3">
4h <input type="radio" name="roomcount" value="4">
5h <input type="radio" name="roomcount" value="5">
<!-- Huonemäärän rajaus -->
</p>
<p>
<!-- Pinta-alan rajaus -->
Pinta-ala: <input type="text" name="area" style="width: 50px;">
<!-- Pinta-alan rajaus -->
</p>
<p>
<!-- Rakennustyypin rajaus -->
Rakennustyyppi:
Kerrostalo <input type="radio" name="buildingtype" value="Kerrostalo">
Omakotitalo <input type="radio" name="buildingtype" value="Omakotitalo">
Rivitalo <input type="radio" name="buildingtype" value="Rivitalo">
Luhtitalo <input type="radio" name="buildingtype" value="Luhtitalo">
<!-- Rakennustyypin rajaus -->
</p>
<p>
<!-- Vuokran suuruuden rajaus -->
Vuokra: <input type="text" name="rent" style="width: 50px;">
<!-- Vuokran suuruuden rajaus -->
</p>
<p>
<!-- Kunnon rajaus -->
Kunto: Erinomainen <input type="radio" name="condition" value="erinomainen">
Hyvä <input type="radio" name="condition" value="hyvä">
Kohtalainen <input type="radio" name="condition" value="kohtalainen">
Huono <input type="radio" name="condition" value="huono">
<!-- Kunnon rajaus -->
</p>
<p>
Kuvaus:
</p>
<p>
<textarea name="descr" rows="3" cols="50"></textarea>
</p>
<input type="submit" value="Lisää asunto">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<a href="/returning">Palaa</a>
</div>
</body>